@model IEnumerable<TechnoCraftSchool_Model.SubjectAssign>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section Header{
    <h1>
        <button type="button" class="btn btn-primary" id="Assign-Subject"> <i class="fa fa-plus"></i> Assign New Subject</button>

        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "SubjectAssign")"><i class=" fa fa-dashboard"></i> Home </a></li>
        <li class="active">Subject Assign</li>
    </ol>
}

<div class="box box-solid box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">
            Subject Assigns
        </h2>
        <div class="box-tools">
        </div>
    </div>
    <div class="box-body">
        <hr />
        <div class="row">
            <div class="col-md-12">
                @if (Model != null)
                {
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover custom-table-style" id="dtSubjectAssign">
                            <thead>
                                <tr>
                                    <th> @Html.DisplayName("SR No") </th>
                                    <th>@Html.DisplayNameFor(model => model.Subjects.SubjectName)</th>
                                    <th>@Html.DisplayNameFor(model => model.Course_ID)</th>
                                    <th>@Html.DisplayNameFor(model => model.Standard_ID)</th>
                                    <th width="100px" style="text-align:center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <span>@i</span>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Subjects.SubjectName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Course_ID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Standard_ID)
                                        </td>
                                        <td style="text-align:center">
                                            &nbsp;
                                            <a href="#" class="edit-assign-subject" data-toggle="tooltip" title="Edit" data-placement="top" data-id="@item.Subjectassign_ID"><i class="glyphicon glyphicon-edit"></i></a>
                                            &nbsp;
                                            <a href="#" class="detail-assign-subject" data-toggle="tooltip" title="Details" data-placement="top" data-id="@item.Subjectassign_ID"><i class="glyphicon glyphicon-list"></i> </a>
                                            &nbsp;
                                            <a href="#" class="del-assign-subject" data-toggle="tooltip" title="Delete" data-placement="top" data-id="@item.Subjectassign_ID"><i class="glyphicon glyphicon-trash"></i> </a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div><!-- /.box-body -->
    <div class="box-footer">

    </div><!-- /.box-footer-->

    <div class="overlay" style="display:none" id="loading">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>

<div class="modal fade" id="EditAssignSubject">
</div>
<div class="modal fade" id="DetailAssignSubject">
</div>
<div class="modal fade" id="AddAssignSubject">
</div>

<script>
    $("#dtSubjectAssign tbody tr").on('click', function (event) {
        $("#dtSubjectAssign tbody tr").removeClass('row_selected');
        $(this).addClass('row_selected');
    });

    var AssignTable;

    $(document).ready(function () {
        generateDeleteButtonLinks();

        $('#Assign-Subject').click(function () {
            var modal = $('#AddAssignSubject').modal();
            modal.load("@Url.Action("Create")");
        });

        var handleDataTableButtons = function () {
            drawDatatable();
        };

        TableManageButtons = function () {
            "use strict";
            return {
                init: function () {
                    handleDataTableButtons();
                }
            };
        }();

        TableManageButtons.init();
    });

    function drawDatatable() {
        if ($("#dtSubjectAssign").length) {
            AssignTable = $("#dtSubjectAssign").DataTable({
                dom: "Bfrtip",
                columnDefs: [
                    { "orderable": false, "targets": 2 }
                ],
                buttons: [
                  {
                      extend: "copy",
                      className: "btn-sm",
                      exportOptions: {
                          columns: [0, 1, 2]
                      },
                      title: "Subject Assign"

                  },
                  {
                      extend: "excel",
                      className: "btn-sm",
                      exportOptions: {
                          columns: [0, 1, 2]
                      },
                      title: "Subject Assign"
                  },
                  {
                      extend: "pdfHtml5",
                      className: "btn-sm",
                      exportOptions: {
                          columns: [0, 1, 2]
                      },
                      title: "Subject Assign"
                  },
                  {
                      extend: "print",
                      className: "btn-sm",
                      exportOptions: {
                          columns: [0, 1, 2]
                      },
                      title: "Subject Assign"
                  },
                ],
                responsive: true
            });
        }
    }

    function generateDeleteButtonLinks() {

        $('.edit-assign-subject').click(function () {
            var id = $(this).attr('data-id');
            var modal = $('#EditAssignSubject').modal();
            modal.load('/SubjectAssign/Edit/' + id);
        });

        $('.detail-assign-subject').click(function () {
            var id = $(this).attr('data-id');
            var modal = $('#DetailAssignSubject').modal();
            modal.load('/SubjectAssign/Details/' + id);
        });

        $('.del-assign-subject').click(function (event) {

            // Cancel user deletion if confirmation is negative
            var result = confirm("Do you really want to delete ?");
            if (!result)
                return;
            var url = "/SubjectAssign/Delete";
            var id = $(this).attr('data-id');
            $.ajax({
                url: url + '/' + id,
                type: 'POST',
                cache: false,
                dataType: "json",
                success: function (response) {
                    refreshAssignTable();
                },
                error: function (xhr) { }
            });
            event.preventDefault();
        });
    }

    function refreshAssignTable() {
        $("#loading").show();
        $("#dtSubjectAssign tbody tr").remove();

        $.ajax({
            type: 'POST',
            url: "/SubjectAssign/Refresh/",
            dataType: 'json',
            success: function (data) {
                var items = '';
                AssignTable.clear();
                AssignTable.destroy();
                var j = 1;
                $.each(data, function (i, item) {
                    var rows = "<tr>"
                        + "<td> <span>" + j + "</span> </td>"
                        + "<td>" + item.Subjects.SubjectName + "</td>"
                        + "<td>" + item.Course_ID + "</td>"
                        + "<td>" + item.Standard_ID + "</td>"
                        + "<td style='text-align:center'>"
                        + " <a href='#' class='edit-assign-subject' data-toggle='tooltip' title='Edit' data-placement='top' data-id='" + item.Subject_ID + "'><i class='glyphicon glyphicon-edit'></i> </a>"
                        + " <a href='#' class='detail-assign-subject' data-toggle='tooltip' title='Details' data-placement='top' data-id='" + item.Subject_ID + "'><i class='glyphicon glyphicon-list'></i> </a>"
                        + " <a href='#' class='del-assign-subject' data-toggle='tooltip' title='Delete' data-placement='top' data-id='" + item.Subject_ID + "'><i class='glyphicon glyphicon-trash'></i> </a>"
                        + "</td>"
                        + "</tr>";
                    $('#dtSubjectAssign tbody').append(rows);
                    j++;
                });
                generateDeleteButtonLinks();
                drawDatatable();
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
            }
        });

        $("#loading").hide();
    }

    var ajaxSuccess = function (response) {
        if (response) {
            $('#AddAssignSubject').modal('hide');
            $('#EditAssignSubject').modal('hide');
            $('#DetailAssignSubject').modal('hide');
            refreshAssignTable();
        }
    }
    var ajaxFailure = function (xhr, status) {
        alert('Error: ' + xhr.statusText);
    }

</script>

