@*
    This is the main dashboard layout that creates the AdminLTE look and feel
       It includes all of the relevant CSS and Js in this project and across CDNs around the web for optimal load times
       TODO: Use this layout in your views by either setting the "Layout" property
       or changing your  _ViewStart.cshtml to use this layout
*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title | Web School</title>
    <link rel="shortcut icon" type="image/png" href="~/Content/AdminLTE/img/logo_for_Addressbar.png">

    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    @*Source Sans Pro from Google Fonts*@
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" rel="stylesheet" />
    <link href="~/Content/fonts-googleapis.css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" rel="stylesheet" />
    @*Bundle CSS, assuming includes Bootstrap CSS *@
    <link href="~/Scripts/AdminLTE/plugins/select2/select2.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)

    <!-- Font Awesome Icons -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    @*<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />*@

    <!-- Ionicons -->
    <link href="~/Content/ionicons.min.css" rel="stylesheet" type="text/css" />
    @*<link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />*@
    <!-- Theme style -->
    <link href="~/Content/AdminLTE/AdminLTE.min.css" rel="stylesheet" type="text/css" />

    <!--   iCheck -->
    <link href="~/Scripts/AdminLTE/plugins/iCheck/all.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    <!-- InputMask -->
    <script src="~/Scripts/AdminLTE/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/Scripts/AdminLTE/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/Scripts/AdminLTE/plugins/input-mask/jquery.inputmask.extensions.js"></script>


    <!-- Morris chart -->
    <link href="~/Scripts/AdminLTE/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="~/Scripts/AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />

    <!-- Date Picker -->
    <link href="~/Scripts/AdminLTE/plugins/datepicker/datepicker3.css" rel="stylesheet" />

    <!-- Daterange picker -->
    <link href="~/Scripts/AdminLTE/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/AdminLTE/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script>
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + "; " + expires + ";domain=localhost;path=/";
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
    </script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="skin-blue sidebar-mini wysihtml5-supported" style="background-image:url(../../Content/AdminLTE/img/boxed-bg.jpg);">
    <script>
        if (getCookie("menu-style") != "sidebar-collapse") {
            document.body.setAttribute('class', document.body.getAttribute('class') + " sidebar-collapse");
        }
    </script>
    <div class="wrapper">
        @Html.Partial("_AdminTopMenu")
        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("_AdminLeftMenu")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @RenderSection("Header", false)
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
        <!-- Modal -->
        <div id="Loading" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Please Wait...</h4>
                    </div>
                    <div class="modal-body">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>

            </div>
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0 Beta
            </div>
            <strong>Copyright &copy; 2016 - 2018<a href="http://technocraft.16mb.com/" target="_blank"> Technocraft Info Tech </a> </strong> All rights reserved. Design & Developed By Ankit Patel.
        </footer>
    </div><!-- ./wrapper -->
    @* Bundles assume jquery 2.1.3 and Bootstrap 3 *@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Select2 -->
    <script src="~/Scripts/AdminLTE/plugins/select2/select2.full.min.js"></script>

    <!-- AdminLTE App -->
    <script src="~/Scripts/AdminLTE/app.js" type="text/javascript"></script>

    <!-- datepicker -->
    <script src="~/Scripts/AdminLTE/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="~/Scripts/AdminLTE/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <!-- SlimScroll 1.3.0 -->
    <script src="~/Scripts/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
            $(".hide-search").select2({ minimumResultsForSearch: Infinity });
        });
        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red'
        });
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });

        $('.datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd-mm-yyyy',
            autoclose: true,
        });
        $('.year').datepicker({
            autoclose: true,
            
        });

        function LoadingMsg(title, msg, hidebtn) {
            $("#Loading .modal-content .modal-header .modal-title").html(title);
            if (typeof hidebtn != "undefined") {
                $("#Loading .modal-content .modal-body").html(msg);
            }
            else {
                $("#Loading .modal-content .modal-body").html("<h4 class='alert alert-warning'>" + msg + "</h4>");
                $("#Loading .modal-content .modal-footer").html('<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>');
            }
        }

        function Loading(status) {
            $("#Loading").modal(status);
        }

        $('#Loading').on('hidden.bs.modal', function () {
            LoadingMsg("Please Wait...", '<div class="progress"><div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%"></div></div>', true);
        });
        function menustyle() {
            setCookie("menu-style", document.body.getAttribute('class').split(' ')[document.body.getAttribute('class').split(' ').length - 1], 365);
        }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
