@model TechnoCraft_School.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<script>

   

    function validatePassword() {
        var password = document.getElementById("NewPassword")
 , confirm_password = document.getElementById("NewConfirmPassword");
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

</script>


<style type="text/css">
    input[type="text"] {
        width: 250px;
    }

    input[type="password"] {
        width: 250px;
    }
</style>

<div class="row">
    <div class="col-md-6">

        <div class="box box-info">

            <!-- /.box-header -->
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-key"></i> Change Password </h3>
            </div>

            <!-- form start -->
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                <!-- /.box-body -->
                <div class="box-body">

                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        <div style="display:block">
                            <div class="row">
                                <div class="col-md-3" style="width:100%">
                                    <div class="box box-warning box-solid">
                                        <div class="box-header with-border">
                                            <h3 class="box-title"><i class="icon fa fa-warning"></i> Warning</h3>
                                            <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-widget="remove" onclick="@("window.location.href='" + @Url.Action("ChangePassword", "Manage") + "'");"><i class="fa fa-times"> </i></button>
                                            </div>
                                        </div>
                                        <div class="box-body">
                                            @Html.ValidationSummary(true, "")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    }

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            @Html.LabelFor(m => m.OldPassword)

                        </label>
                        <div class="col-md-4">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Old Password", @required = "Required" })
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            @Html.LabelFor(m => m.NewPassword)
                        </label>
                        <div class="col-md-4">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password", @required = "Required",@id="NewPassword",@onchange = "validatePassword()", @minlength="6" })
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </label>
                        <div class="col-md-4">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm New Password", @required = "Required", @id = "NewConfirmPassword", @onkeyup = "validatePassword()" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                </div>
                
                <!-- /.box-footer -->
                <div class="box-footer">  
                    <button type="submit" class="btn btn-primary center-block">Change Password</button>
                </div>
            }
        </div>
    </div>
</div>