@model IEnumerable<TechnoCraftSchool_Model.Students>

@{
    ViewBag.Title = "Index";
}

@section Header{
    <h1>
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Students")"><i class=" fa fa-dashboard"></i> Home </a></li>
        <li class="active">Students</li>
    </ol>
}

<div class="box box-solid box-primary">
    <div class="box-header with-border">
        <h2 class="box-title">
            Students
        </h2>
        <div class="box-tools">
        </div>
    </div>
    <div class="box-body">

        <div class="row">
            @using (Html.BeginForm("Index", "Students", FormMethod.Post))
            {
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Select Course</label>
                        @Html.Display("Select Course")
                        @Html.DropDownList("Course_ID", null, new { @class = "form-control hide-search", @style = "width:100%" })
                    </div>
                 </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Select Standard</label>
                        <select id="Standard_ID" name="Standard_ID" class="form-control hide-search" style="width:100%">
                            <option value="0"> -- Select Standard -- </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Select Class</label>
                        <select id="Class_ID" name="Class_ID" class="form-control hide-search" style="width:100%">
                            <option value="0"> -- Select Class -- </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <br />
                        <button type="submit" class="btn btn-info" style="margin-top:5px;"> <i class="fa fa-search"></i> Search </button>
                        <input hidden="hidden" type="hidden" value="@ViewBag.StoreData" id="StoreData" />
                    </div>
                </div>
            }
            <div id="ddlmessage" class="text-danger text-center" style="margin-top:5px;">

            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-md-12">
                @if (Model != null)
                {
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover custom-table-style" id="dtStudents">
                            <thead>
                                <tr style="background-color:#eaeaea;">
                                    <th> @Html.DisplayName("SR No") </th>
                                    <th> @Html.DisplayNameFor(model => model.StudentPhoto) </th>
                                    <th> @Html.DisplayName("Full Name") </th>
                                    <th> @Html.DisplayNameFor(model => model.EmailAddress) </th>
                                    <th> @Html.DisplayNameFor(model => model.StudentPhone) </th>
                                    <th width="150px" style="text-align:center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <span>@i</span>
                                        </td>
                                        <td>
                                            <center>
                                                <img src="@(item.Gender == "Male" ? item.StudentPhoto == "" ? "/Content/StudentPhotos/AvatarMale.png" : item.StudentPhoto : item.StudentPhoto == "" ? "/Content/StudentPhotos/AvatarFemale.png" : item.StudentPhoto)" height="50" width="50" class="img-circle" />
                                            </center>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.FirstName) @Html.DisplayFor(model => item.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.EmailAddress)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.StudentPhone)
                                        </td>
                                        <td style="text-align:center">
                                            &nbsp;
                                            <button class="btn btn-xs btn-primary edit-Student" onclick="location.href='@Url.Action("Edit", "Students", new { id=@item.Students_ID })'">
                                                <i class="glyphicon glyphicon-edit"></i> Edit
                                            </button>
                                            &nbsp;
                                            <button class="btn btn-xs btn-danger delete-Student" data-id="@item.Students_ID">
                                                <i class="glyphicon glyphicon-trash"></i> Delete
                                            </button>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div><!-- /.box-body -->
    <div class="box-footer">

    </div><!-- /.box-footer-->

    <div class="overlay" style="display:none" id="loading">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#ddlmessage").empty();
        $("#Standard_ID").prop("disabled", true);
        $("#Class_ID").prop("disabled", true);

        // Fill Standard DropDown
        $("#Course_ID").change(function () {
            var id = $("#Course_ID").val();

            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetStandard")',
                data: { "Course_ID": id },
                success: function (json, textStatus) {
                    $("#Standard_ID").empty();
                    $("#Standard_ID").append('<option value="0"> -- Select Standard -- </option>');
                    json = json || {};
                    if (json.length != 0) {
                        for (var i = 0; i < json.length; i++) {
                            $("#Standard_ID").append('<option value="' + json[i].Standard_ID + '">' + json[i].StandardName + '</option>');
                        }
                        $("#ddlmessage").empty();
                        $("#Standard_ID").prop("disabled", false);
                    }
                    else {
                        $("#ddlmessage").empty();


                        $("#Standard_ID").empty();
                        $("#Standard_ID").append('<option value="0"> -- Select Standard -- </option>');
                        $("#Standard_ID").select2({ minimumResultsForSearch: Infinity });
                        $("#Standard_ID").prop("disabled", true);

                        $("#Class_ID").empty();
                        $("#Class_ID").append('<option value="0"> -- Select Standard -- </option>');
                        $("#Class_ID").select2({ minimumResultsForSearch: Infinity });
                        $("#Class_ID").prop("disabled", true);


                        if ($("#Course_ID").val() != 0) {
                            $("#ddlmessage").append('No Standard Found.');
                        }
                    }
                }
            });
        });

        // Fill Class DropDown
        $("#Standard_ID").change(function () {
            var id = $("#Standard_ID").val();
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetClass")',
                data: { "Standard_ID": id },
                success: function (json, textStatus) {
                    $("#Class_ID").empty();
                    $("#Class_ID").append('<option value="0"> -- Select Class -- </option>');
                    json = json || {};
                    if (json.length != 0) {
                        for (var i = 0; i < json.length; i++) {
                            $("#Class_ID").append('<option value="' + json[i].Class_ID + '">' + json[i].ClassName + '</option>');
                        }
                        $("#ddlmessage").empty();
                        $("#Class_ID").prop("disabled", false);
                    }
                    else {
                        $("#ddlmessage").empty();

                        $("#Class_ID").empty();
                        $("#Class_ID").append('<option value="0"> -- Select Standard -- </option>');
                        $("#Class_ID").select2({ minimumResultsForSearch: Infinity });
                        $("#Class_ID").prop("disabled", true);

                        if ($("#Standard_ID").val() != 0) {
                            $("#ddlmessage").append('No Class Found.');
                        }
                    }
                }
            });
        });
    });


    $("#dtStudents tbody tr").on('click', function (event) {
        $("#dtStudents tbody tr").removeClass('row_selected');
        $(this).addClass('row_selected');
    });

    var StudentsTable;

    $(document).ready(function () {
        generateDeleteButtonLinks();

        var handleDataTableButtons = function () {
            drawDatatable();
        };

        TableManageButtons = function () {
            "use strict";
            return {
                init: function () {
                    handleDataTableButtons();
                }
            };
        }();

        TableManageButtons.init();
    });

    function drawDatatable() {
        if ($("#dtStudents").length) {
            StudentsTable = $("#dtStudents").DataTable({
                dom: "Bfrtip",
                columnDefs: [
                    { "orderable": false, "targets": 5 }
                ],
                buttons: [
                  {
                      extend: "copy",
                      className: "btn-sm",
                      exportOptions: {
                          columns: [0, 2, 3, 4]
                      },
                      title: "Student"

                  },
                  {
                      extend: "excel",
                      className: "btn-sm",
                      exportOptions: {
                          columns: [0, 2, 3, 4]
                      },
                      title: "Student"
                  },
                  {
                      extend: "pdfHtml5",
                      className: "btn-sm",
                      exportOptions: {
                          columns: [0, 2, 3, 4]
                      },
                      title: "Student"
                  },
                  {
                      extend: "print",
                      className: "btn-sm",
                      exportOptions: {
                          columns: [0, 2, 3, 4]
                      },
                      title: "Student"
                  },
                ],
                responsive: true
            });
        }
    }

    function generateDeleteButtonLinks() {
        $('.delete-Student').click(function (event) {

            // Cancel user deletion if confirmation is negative
            var result = confirm("Do you really want to delete ?");
            if (!result)
                return;
            var url = "/Students/Delete";
            var id = $(this).attr('data-id');
            $.ajax({
                url: url + '/' + id,
                type: 'POST',
                cache: false,
                dataType: "json",
                success: function (response) {
                    refreshStudentsTable();
                },
                error: function (xhr) { }
            });
            event.preventDefault();
        });
    }

    function refreshStudentsTable() {
        $("#loading").show();
        $("#dtStudents tbody tr").remove();

        $.ajax({
            type: 'POST',
            url: "/Students/Refresh/",
            data: { stringID: $("input#StoreData").val() },
            dataType: 'json',
            success: function (data) {
                var items = '';
                StudentsTable.clear();
                StudentsTable.destroy();
                var j = 1;
                $.each(data, function (i, item) {
                    var url = "location.href='/Students/Edit/'" + item.Students_ID;
                    alert(url);
                    var rows = "<tr>"
                        + "<td> <span>" + j + "</span> </td>"
                        + "<td> <center> <img src=" + (item.Gender == "Male" ? item.StudentPhoto == "" ? "/Content/StudentPhotos/AvatarMale.png" : item.StudentPhoto : item.StudentPhoto == "" ? "/Content/StudentPhotos/AvatarFemale.png" : item.StudentPhoto) + " height='50px' width='50px' class='img-circle' /> </center> </td>"
                        + "<td>" + item.FirstName + " " + item.LastName + "</td>"
                        + "<td>" + item.EmailAddress + "</td>"
                        + "<td>" + item.StudentPhone + "</td>"
                        + "<td style='text-align:center'> <button class='btn btn-xs btn-primary edit-Student' onclick='"+ url +" '><i class='glyphicon glyphicon-edit'></i> Edit</button>&nbsp;&nbsp;"
                        + "<button class='btn btn-xs btn-danger delete-Student' data-id='" + item.Students_ID + "'><i class='glyphicon glyphicon-trash'></i> Delete</button>&nbsp;&nbsp;"
                        + "</td>"
                        + "</tr>";
                    $('#dtStudents tbody').append(rows);
                    j++;
                });
                generateDeleteButtonLinks();
                drawDatatable();
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
            }
        });

        $("#loading").hide();
    }

    var ajaxSuccess = function (response) {
        alert(response);
        if (response.isSuccess) {
            refreshStudentsTable();
        }
    }
    var ajaxFailure = function (xhr, status) {
        alert('Error: ' + xhr.statusText);
    }

</script>
