@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Role Manager";
}
<div class="row">
    <!-- Left col -->
    <div class="col-md-5">

        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa  fa-tasks"></i> &nbsp;&nbsp; Roles Listing</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div style="display: block;" class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <tr class="bg-black-gradient">
                                <th>Role Name</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var role in Model)
                            {
                                <tr>
                                    <td class="col-md-4">@role.Name</td>
                                    <td class="col-md-2">
                                        &nbsp;

                                        @*@Html.ActionLink("Edit", "Edit", new { roleName = @role.Name }) |*@

                                        <a data-toggle="modal" data-target="#@string.Concat(role.Name,"edit")" class="btn btn-default btn-sm btn-flat">Edit</a>
                                        <!-- Modal -->
                                        <div id="@string.Concat(role.Name,"edit")" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-light-blue-gradient">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title"> Edit Role</h4>
                                                    </div>

                                                    @using (Html.BeginForm("Edit", "RolesManager", FormMethod.Post))
                                                    {
                                                        <div class="modal-body">
                                                            @Html.AntiForgeryToken()
                                                            @Html.ValidationSummary(true)

                                                            <input type="hidden" value="@role.Id" name="Id" />

                                                            <div class="form-group">
                                                                <label for="inputEmail3" class="col-sm-3 control-label">Role name</label>
                                                                <div class="col-sm-6">
                                                                    <input type="text" value="@role.Name" name="RoleName" class="form-control" placeholder="Role Name" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-default" onclick="location.href='@Url.Action("Edit", "RolesManager")'">Save</button>
                                                        </div>
                                                    }


                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div>

                                        &nbsp;

                                        @*<span onclick="return confirm('Are you sure to delete?')"><a href="/RolesManager/Delete?RoleName=@role.Name" class="delLink">Delete</a></span>*@
                                        <a data-toggle="modal" data-target="#@string.Concat(role.Name,"delete")" class="btn btn-default btn-sm btn-flat">Delete</a>
                                        <!-- Modal -->
                                        <div id="@string.Concat(role.Name,"delete")" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-yellow-gradient">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h3 class="modal-title"> Are you sure ?</h3>
                                                    </div>

                                                    <div class="modal-body">
                                                       <h4>Are you sure to delete <b>@role.Name</b> role ?</h4>
                                                    </div>
                                                    <br>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-default" onclick="location.href='@Url.Action("Delete", "RolesManager", new { RoleName = @role.Name })'">Delete</button>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div>


                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <div style="display: block;" class="box-footer clearfix">

                <a data-toggle="modal" data-target="#create" class="btn btn-primary bg-light-blue-gradient btn-sm  pull-right"><span class="glyphicon glyphicon-plus"></span> Create New Role</a>
                <!-- Modal -->
                <div id="create" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-light-blue-gradient">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Create New Role</h4>
                            </div>
                            @using (Html.BeginForm("Create", "RolesManager", FormMethod.Post))
                            {
                                <div class="modal-body">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Role name</label>
                                        <div class="col-sm-6">
                                            @Html.TextBox("RoleName", null, new { @class = "form-control", @placeholder = "Role Name" })
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-default">Save changes</button>
                                </div>
                            }
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>

            </div>
        </div>
        <!-- /.box -->
    </div>

</div>


